@import 'mixin';

.new-party {
  width: 500px;
  margin: 100px auto;
  border: solid 1px #DDD;
  @include rounded-conner(5px);
  background-color: white;
  h2.title {
    @include h2-title
  }
  form {
    padding-top: 20px;
  }
}

.main-content {
  float: left;
  width: 700px;
  .list-party {
    @include rounded-conner(5px);
    background-color: white;
    h3#title {
      padding: 15px;
      border-bottom: 2px solid #E8E8E8;
    }
    .party-info {
      padding: 10px;
      border-bottom: 1px solid #E8E8E8;
      .more {
        display: block;
        text-align: right;
      }
    }
  }
  .show-party {
    background-color: white;
    @include rounded-conner(5px);
    h3 {
      @include rounded-conner(5px);
      text-align: left;
      padding: 15px 0px 0px 15px;
      border-bottom: solid 3px #ccc;
      background-color: #eee;
    }
    .party-detail {
      .fix-line {
        padding: 10px;
        margin: 0 5px;
        label {
          font-weight: bold;
          font-size: 120%;
        }
      }
      .regist-and-share {
        padding: 10px;
        margin: 0 5px;
        text-align: right;
        a#regist-party {
          margin-bottom: 5px;
        }
      }
    }
  }
  #reply-party {
    background-color: white;
    @include rounded-conner(5px);
    margin: 10px 0;
  }
}

.sidebar {
  float: right;
  width: 230px;
  .public-notice {
    background-color: white;
    @include rounded-conner(5px);
    margin-bottom: 10px;
    h4 {
      padding: 10px;
      text-align: center;
      border-bottom: 1px solid #E8E8E8;
    }
    h5 {
      padding: 5px;
      a.btn-danger {
        margin: 0 70px;
      }
      span {
        margin: 50px;
      }
    }
  }
  .launch-party, .regist-party {
    background-color: white;
    @include rounded-conner(5px);
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
}
#reply-party {
  h3 {
    @include rounded-conner(5px);
    text-align: left;
    padding: 10px 0px 0px 10px;
    border-bottom: solid 1px #ccc;
    background-color: #eee;
  }
  .comment-list {
    margin: 10px 0;
    .comment-show {
      padding: 5px 10px;
      border-bottom: dotted 1px #ccc;
      .body {
        padding: 10px;
      }
    }
  }
  .new-comment {
    margin: 10px;
    textarea {
      height: 50px;
      width: 578px;
    }
  }
}
h4.annotate {
  padding: 10px 0px 0px 10px;
}
