@import 'mixin';

.new-party {
  width: 500px;
  margin: 100px auto;
  border: solid 1px #DDD;
  @include rounded-conner(5px);
  background-color: white;
  h2.title {
    @include h2-title
  }
  form {
    padding-top: 20px;
  }
}

.list-party {
  background-color: white;
  @include rounded-conner(5px);
  width: 650px;
  h3#title {
    padding: 15px;
    border-bottom: 2px solid #E8E8E8;
  }
  .party-info {
    padding: 10px;
    border-bottom: 1px solid #E8E8E8;
    .more {
      display: block;
      text-align: right;
    }
  }
}
