.front-signup
  %h2<
    %strong 还没有账号？
    现在注册
  %form{ action: '/user/sign_up', method: 'post', class: 'signup'}
    .placeholding-input
      %input{ type: 'text', class: 'text-input', autocomplete: 'off', name: 'name', placeholder: '昵称' }
    .placeholding-input
      %input{ type: 'text', class: 'text-input email-input', autocomplete: 'off', name: 'email', placeholder: '电子邮箱' }
    .placeholding-input
      %input{ type: 'password', class: 'text-input', name: 'password', placeholder: '登录密码' }
    %input{ type: 'submit', class: 'btn signup-btn', value: '注册' }
