.front-signin
  %form{ action: '/user/sign_in', method: 'post', class: 'signin'}
    .placeholding-input.login-name
      %input{ type: 'text', class: 'email-input', name: 'email', placeholder: "电子邮箱" }
    %table.flex-table.password-signin
      %tbody
        %tr
          %td.flex-table-primary
            .placeholding-input.password.flex-table-form
              %input{ type: 'password', class: 'text-input flex-table-input', name: 'password', placeholder: "登录密码" }
          %td.flex-table-secondary
            %input{ type: 'submit', class: 'btn-info', value: '登录' }
    .remember-forgot
      %label.remember.checkbox
        %input{ type: 'checkbox', value: '1', name: 'remember_me' }
        %span 记住我
        %span.separator ·
        = link_to '忘记密码?', '#', class: 'forgot'

