#front-container
  .front-card
    .front-welcome
      .front-welcome-text
        %h1 Welcome to Ruby Tuesday
        %p Ruby-Tuesday is a light weight plaform for rubyist organize the Ruby-Tuesday party. It is in developing. 
    = render 'signin_form'
    = render 'signup_form'
  = render 'footer'
